# .NET
*.dll
*.exe
*.pdb
*.cache
*.log
*.user
*.vs
*.vscode
*.suo
*.swp
*.ncb
*.suo
*.log
*.dmp
*.sql
*.sqlite
*.db

# ASP.NET Core
wwwroot/
node_modules/
*.js
*.map
*.ts
*.json
*.yarn
*.npm

# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Rider
.idea/

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Entity Framework Core
*.sqlite
*.db
*.bak
*.sql
*.log

# Build Results
bin/
obj/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/