@page
@model ClientXMLApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<h2>Home</h2>

<nav>
    <ul>
        <li><a href="/Clients">Clients</a></li>
        <li><a href="/Clients/Create">Add Client</a></li>

    </ul>
</nav>