@page
@model ClientXMLApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<h2>Home</h2>

<nav>
    <ul>
        <li><a href="/Clients/View">Clients</a></li>
        <li><a href="/Clients/Create">Add Client</a></li>
        <li><a href="/Clients/Import">Import XML</a></li>
    </ul>
</nav>